TimeImportApp/Connected Services/ProjectorWebServicesV2/PwsProjectorServices7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://projectorpsa.com/DataContracts/Shared/Scheduling/" elementFormDefault="qualified" targetNamespace="http://projectorpsa.com/DataContracts/Shared/Scheduling/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://secure.projectorpsa.com/OpsProjectorWcfSvc/PwsProjectorServices.svc?xsd=xsd4" namespace="http://projectorpsa.com/DataContracts/Shared/Common/" />
  <xs:import schemaLocation="https://secure.projectorpsa.com/OpsProjectorWcfSvc/PwsProjectorServices.svc?xsd=xsd3" namespace="http://projectorpsa.com/DataContracts/Requests/" />
  <xs:import schemaLocation="https://secure.projectorpsa.com/OpsProjectorWcfSvc/PwsProjectorServices.svc?xsd=xsd5" namespace="http://projectorpsa.com/CommonServices/" />
  <xs:complexType name="PwsGetEngagementListRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://projectorpsa.com/DataContracts/Requests/" base="q1:PwsRequest">
        <xs:sequence>
          <xs:element xmlns:q2="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="EngagementIdentity" nillable="true" type="q2:PwsEngagementRef" />
          <xs:element minOccurs="0" name="IncludeClosedFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="MaxRowsToReturn" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="QueryString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastUpdatedSinceTimestamp" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PurchaseOrderNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsGetEngagementListRq" nillable="true" type="tns:PwsGetEngagementListRq" />
  <xs:complexType name="PwsGetEngagementListRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://projectorpsa.com/CommonServices/" base="q3:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q4="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="Engagements" nillable="true" type="q4:ArrayOfPwsEngagementSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsGetEngagementListRs" nillable="true" type="tns:PwsGetEngagementListRs" />
  <xs:complexType name="PwsGetEngagementRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://projectorpsa.com/DataContracts/Requests/" base="q5:PwsRequest">
        <xs:sequence>
          <xs:element xmlns:q6="http://projectorpsa.com/DataContracts/Shared/Common/" name="EngagementIdentities" nillable="true" type="q6:ArrayOfPwsEngagementRef" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsGetEngagementRq" nillable="true" type="tns:PwsGetEngagementRq" />
  <xs:complexType name="PwsGetEngagementRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://projectorpsa.com/CommonServices/" base="q7:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q8="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="Engagements" nillable="true" type="q8:ArrayOfPwsEngagementElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsGetEngagementRs" nillable="true" type="tns:PwsGetEngagementRs" />
  <xs:complexType name="PwsSaveEngagementRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://projectorpsa.com/DataContracts/Requests/" base="q9:PwsRequest">
        <xs:sequence>
          <xs:element xmlns:q10="http://projectorpsa.com/DataContracts/Shared/Common/" name="Engagement" nillable="true" type="q10:PwsEngagementDetail" />
          <xs:element minOccurs="0" name="FullDetailFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="StealLockFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="UseEtEngagementProjectDefaultsFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="UseEtProjectWorkspaceDefaultsFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SuppressCliCreationOnInsertFlag" type="xs:boolean" />
          <xs:element xmlns:q11="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LocksToSteal" nillable="true" type="q11:ArrayOfPwsEntityLockSummary" />
          <xs:element minOccurs="0" name="ProjectorLockSetId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsSaveEngagementRq" nillable="true" type="tns:PwsSaveEngagementRq" />
  <xs:complexType name="PwsSaveEngagementRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://projectorpsa.com/CommonServices/" base="q12:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q13="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="Engagement" nillable="true" type="q13:PwsEngagementElement" />
          <xs:element xmlns:q14="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="EngagementIdentity" nillable="true" type="q14:PwsEngagementRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q15="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LockStolenFromUserIdentity" nillable="true" type="q15:PwsUserRef" />
          <xs:element xmlns:q16="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="StolenLocks" nillable="true" type="q16:PwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsSaveEngagementRs" nillable="true" type="tns:PwsSaveEngagementRs" />
  <xs:complexType name="PwsDeleteEngagementRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q17="http://projectorpsa.com/DataContracts/Requests/" base="q17:PwsRequest">
        <xs:sequence>
          <xs:element xmlns:q18="http://projectorpsa.com/DataContracts/Shared/Common/" name="EngagementIdentity" nillable="true" type="q18:PwsEngagementRef" />
          <xs:element minOccurs="0" name="StealLockFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q19="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LocksToSteal" nillable="true" type="q19:ArrayOfPwsEntityLockSummary" />
          <xs:element minOccurs="0" name="ProjectorLockSetId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsDeleteEngagementRq" nillable="true" type="tns:PwsDeleteEngagementRq" />
  <xs:complexType name="PwsDeleteEngagementRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://projectorpsa.com/CommonServices/" base="q20:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q21="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="EngagementIdentity" nillable="true" type="q21:PwsEngagementRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q22="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LockStolenFromUserIdentity" nillable="true" type="q22:PwsUserRef" />
          <xs:element xmlns:q23="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="StolenLocks" nillable="true" type="q23:PwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsDeleteEngagementRs" nillable="true" type="tns:PwsDeleteEngagementRs" />
  <xs:complexType name="PwsGetContractLineItemRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q24="http://projectorpsa.com/DataContracts/Requests/" base="q24:PwsRequest">
        <xs:sequence>
          <xs:element xmlns:q25="http://projectorpsa.com/DataContracts/Shared/Common/" name="ContractLineItemIdentities" nillable="true" type="q25:ArrayOfPwsContractLineItemRef" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsGetContractLineItemRq" nillable="true" type="tns:PwsGetContractLineItemRq" />
  <xs:complexType name="PwsGetContractLineItemRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q26="http://projectorpsa.com/CommonServices/" base="q26:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q27="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ContractLineItems" nillable="true" type="q27:ArrayOfPwsContractLineItemElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsGetContractLineItemRs" nillable="true" type="tns:PwsGetContractLineItemRs" />
  <xs:complexType name="PwsSaveContractLineItemRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q28="http://projectorpsa.com/DataContracts/Requests/" base="q28:PwsRequest">
        <xs:sequence>
          <xs:element xmlns:q29="http://projectorpsa.com/DataContracts/Shared/Common/" name="ContractLineItem" nillable="true" type="q29:PwsContractLineItemDetail" />
          <xs:element xmlns:q30="http://projectorpsa.com/DataContracts/Shared/Common/" name="EngagementCurrencyIdentity" nillable="true" type="q30:PwsCurrencyRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StealLockFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="ContractTypeClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="OverageProjectClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="NewContractLineItemCode" nillable="true" type="xs:string" />
          <xs:element xmlns:q31="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LocksToSteal" nillable="true" type="q31:ArrayOfPwsEntityLockSummary" />
          <xs:element minOccurs="0" name="ProjectorLockSetId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsSaveContractLineItemRq" nillable="true" type="tns:PwsSaveContractLineItemRq" />
  <xs:complexType name="PwsSaveContractLineItemRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q32="http://projectorpsa.com/CommonServices/" base="q32:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q33="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ContractLineItemIdentity" nillable="true" type="q33:PwsContractLineItemRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q34="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LockStolenFromUserIdentity" nillable="true" type="q34:PwsUserRef" />
          <xs:element minOccurs="0" name="ContractLineItemTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q35="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="StolenLocks" nillable="true" type="q35:PwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsSaveContractLineItemRs" nillable="true" type="tns:PwsSaveContractLineItemRs" />
  <xs:complexType name="PwsDeleteContractLineItemRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q36="http://projectorpsa.com/DataContracts/Requests/" base="q36:PwsRequest">
        <xs:sequence>
          <xs:element xmlns:q37="http://projectorpsa.com/DataContracts/Shared/Common/" name="ContractLineItemIdentity" nillable="true" type="q37:PwsContractLineItemRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StealLockFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="ContractLineItemTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q38="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LocksToSteal" nillable="true" type="q38:ArrayOfPwsEntityLockSummary" />
          <xs:element minOccurs="0" name="ProjectorLockSetId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsDeleteContractLineItemRq" nillable="true" type="tns:PwsDeleteContractLineItemRq" />
  <xs:complexType name="PwsDeleteContractLineItemRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q39="http://projectorpsa.com/CommonServices/" base="q39:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q40="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ContractLineItemIdentity" nillable="true" type="q40:PwsContractLineItemRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q41="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LockStolenFromUserIdentity" nillable="true" type="q41:PwsUserRef" />
          <xs:element xmlns:q42="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="StolenLocks" nillable="true" type="q42:PwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsDeleteContractLineItemRs" nillable="true" type="tns:PwsDeleteContractLineItemRs" />
  <xs:complexType name="PwsSaveContractLineItemMilestoneRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q43="http://projectorpsa.com/DataContracts/Requests/" base="q43:PwsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="AchievedDateClearFlag" type="xs:boolean" />
          <xs:element xmlns:q44="http://projectorpsa.com/DataContracts/Shared/Common/" name="ContractLineItemMilestone" nillable="true" type="q44:PwsContractLineItemMilestoneDetail" />
          <xs:element minOccurs="0" name="DescriptionClearFlag" type="xs:boolean" />
          <xs:element xmlns:q45="http://projectorpsa.com/DataContracts/Shared/Common/" name="EngagementCurrencyIdentity" nillable="true" type="q45:PwsCurrencyRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PlannedDateClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="ProjectClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="ProjectTaskClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="StealLockFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="ContractLineItemTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q46="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LocksToSteal" nillable="true" type="q46:ArrayOfPwsEntityLockSummary" />
          <xs:element minOccurs="0" name="ProjectorLockSetId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsSaveContractLineItemMilestoneRq" nillable="true" type="tns:PwsSaveContractLineItemMilestoneRq" />
  <xs:complexType name="PwsSaveContractLineItemMilestoneRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q47="http://projectorpsa.com/CommonServices/" base="q47:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q48="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ContractLineItemMilestoneIdentity" nillable="true" type="q48:PwsContractLineItemMilestoneRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q49="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LockStolenFromUserIdentity" nillable="true" type="q49:PwsUserRef" />
          <xs:element minOccurs="0" name="ContractLineItemTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q50="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="StolenLocks" nillable="true" type="q50:PwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsSaveContractLineItemMilestoneRs" nillable="true" type="tns:PwsSaveContractLineItemMilestoneRs" />
  <xs:complexType name="PwsDeleteContractLineItemMilestoneRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q51="http://projectorpsa.com/DataContracts/Requests/" base="q51:PwsRequest">
        <xs:sequence>
          <xs:element xmlns:q52="http://projectorpsa.com/DataContracts/Shared/Common/" name="ContractLineItemMilestoneIdentity" nillable="true" type="q52:PwsContractLineItemMilestoneRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StealLockFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="ContractLineItemTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q53="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LocksToSteal" nillable="true" type="q53:ArrayOfPwsEntityLockSummary" />
          <xs:element minOccurs="0" name="ProjectorLockSetId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsDeleteContractLineItemMilestoneRq" nillable="true" type="tns:PwsDeleteContractLineItemMilestoneRq" />
  <xs:complexType name="PwsDeleteContractLineItemMilestoneRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q54="http://projectorpsa.com/CommonServices/" base="q54:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q55="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ContractLineItemMilestoneIdentity" nillable="true" type="q55:PwsContractLineItemMilestoneRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q56="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LockStolenFromUserIdentity" nillable="true" type="q56:PwsUserRef" />
          <xs:element minOccurs="0" name="ContractLineItemTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q57="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="StolenLocks" nillable="true" type="q57:PwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsDeleteContractLineItemMilestoneRs" nillable="true" type="tns:PwsDeleteContractLineItemMilestoneRs" />
  <xs:complexType name="PwsApplyRevRecAdjustmentRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q58="http://projectorpsa.com/DataContracts/Requests/" base="q58:PwsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="BeginDate" nillable="true" type="xs:dateTime" />
          <xs:element xmlns:q59="http://projectorpsa.com/DataContracts/Shared/Common/" name="ContractLineItemIdentity" nillable="true" type="q59:PwsContractLineItemRef" />
          <xs:element minOccurs="0" name="CutoffDate" nillable="true" type="xs:dateTime" />
          <xs:element xmlns:q60="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="EngagementCurrencyIdentity" nillable="true" type="q60:PwsCurrencyRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FractionComplete" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="IncludeRequestsFlag" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StealLockFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="TotalRevenueRecognized" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="IntervalRevenueRecognized" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="ContractLineItemTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q61="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LocksToSteal" nillable="true" type="q61:ArrayOfPwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsApplyRevRecAdjustmentRq" nillable="true" type="tns:PwsApplyRevRecAdjustmentRq" />
  <xs:complexType name="PwsApplyRevRecAdjustmentRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q62="http://projectorpsa.com/CommonServices/" base="q62:PwsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q63="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LockStolenFromUserIdentity" nillable="true" type="q63:PwsUserRef" />
          <xs:element minOccurs="0" name="ContractLineItemTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q64="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="StolenLocks" nillable="true" type="q64:PwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsApplyRevRecAdjustmentRs" nillable="true" type="tns:PwsApplyRevRecAdjustmentRs" />
  <xs:complexType name="PwsGetProjectListRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q65="http://projectorpsa.com/DataContracts/Requests/" base="q65:PwsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="IncludeClosedFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="MaxRowsToReturn" nillable="true" type="xs:int" />
          <xs:element xmlns:q66="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ProjectIdentity" nillable="true" type="q66:PwsProjectRef" />
          <xs:element minOccurs="0" name="QueryString" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastUpdatedSinceTimestamp" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsGetProjectListRq" nillable="true" type="tns:PwsGetProjectListRq" />
  <xs:complexType name="PwsGetProjectListRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q67="http://projectorpsa.com/CommonServices/" base="q67:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q68="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="Projects" nillable="true" type="q68:ArrayOfPwsProjectSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsGetProjectListRs" nillable="true" type="tns:PwsGetProjectListRs" />
  <xs:complexType name="PwsGetProjectRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q69="http://projectorpsa.com/DataContracts/Requests/" base="q69:PwsRequest">
        <xs:sequence>
          <xs:element name="Mode" nillable="true" type="xs:string" />
          <xs:element xmlns:q70="http://projectorpsa.com/DataContracts/Shared/Common/" name="ProjectIdentities" nillable="true" type="q70:ArrayOfPwsProjectRef" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsGetProjectRq" nillable="true" type="tns:PwsGetProjectRq" />
  <xs:complexType name="PwsGetProjectRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q71="http://projectorpsa.com/CommonServices/" base="q71:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q72="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="Projects" nillable="true" type="q72:ArrayOfPwsProjectElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsGetProjectRs" nillable="true" type="tns:PwsGetProjectRs" />
  <xs:complexType name="PwsSaveProjectRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q73="http://projectorpsa.com/DataContracts/Requests/" base="q73:PwsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="CloseDateClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="CostGlccOverrideClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="DescriptionClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="FullDetailFlag" type="xs:boolean" />
          <xs:element name="Mode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PercentLikelihoodClearFlag" type="xs:boolean" />
          <xs:element xmlns:q74="http://projectorpsa.com/DataContracts/Shared/Common/" name="Project" nillable="true" type="q74:PwsProjectDetail" />
          <xs:element minOccurs="0" name="StealLockFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="TimeGlccOverrideClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="WorkspaceMessagesClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="ForceAdvancedSetupChangeFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ManagementTeamClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="BdDashboardClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="ExpenseTypeConfigurationClearFlag" type="xs:boolean" />
          <xs:element xmlns:q75="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LocksToSteal" nillable="true" type="q75:ArrayOfPwsEntityLockSummary" />
          <xs:element minOccurs="0" name="ProjectorLockSetId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsSaveProjectRq" nillable="true" type="tns:PwsSaveProjectRq" />
  <xs:complexType name="PwsSaveProjectRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q76="http://projectorpsa.com/CommonServices/" base="q76:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q77="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="Project" nillable="true" type="q77:PwsProjectElement" />
          <xs:element xmlns:q78="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ProjectIdentity" nillable="true" type="q78:PwsProjectRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q79="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LockStolenFromUserIdentity" nillable="true" type="q79:PwsUserRef" />
          <xs:element minOccurs="0" name="ProjectTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q80="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="StolenLocks" nillable="true" type="q80:PwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsSaveProjectRs" nillable="true" type="tns:PwsSaveProjectRs" />
  <xs:complexType name="PwsDeleteProjectRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q81="http://projectorpsa.com/DataContracts/Requests/" base="q81:PwsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="CascadeDeleteFlag" type="xs:boolean" />
          <xs:element xmlns:q82="http://projectorpsa.com/DataContracts/Shared/Common/" name="ProjectIdentity" nillable="true" type="q82:PwsProjectRef" />
          <xs:element minOccurs="0" name="StealLockFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q83="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LocksToSteal" nillable="true" type="q83:ArrayOfPwsEntityLockSummary" />
          <xs:element minOccurs="0" name="ProjectTimestamp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProjectorLockSetId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsDeleteProjectRq" nillable="true" type="tns:PwsDeleteProjectRq" />
  <xs:complexType name="PwsDeleteProjectRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q84="http://projectorpsa.com/CommonServices/" base="q84:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q85="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ProjectIdentity" nillable="true" type="q85:PwsProjectRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q86="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LockStolenFromUserIdentity" nillable="true" type="q86:PwsUserRef" />
          <xs:element xmlns:q87="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="StolenLocks" nillable="true" type="q87:PwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsDeleteProjectRs" nillable="true" type="tns:PwsDeleteProjectRs" />
  <xs:complexType name="PwsSaveProjectRoleRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q88="http://projectorpsa.com/DataContracts/Requests/" base="q88:PwsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="BaseRatesOnTitleClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="CandidatesClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="CostCenterClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="CostCenterCriteriaClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="DescriptionClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q89="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="InitialAllocation" nillable="true" type="q89:PwsProjectRoleHoursPattern" />
          <xs:element minOccurs="0" name="KeywordsClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="LocationClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="LocationCriteriaClearFlag" type="xs:boolean" />
          <xs:element name="Mode" nillable="true" type="xs:string" />
          <xs:element xmlns:q90="http://projectorpsa.com/DataContracts/Shared/Common/" name="ProjectIdentity" nillable="true" type="q90:PwsProjectRef" />
          <xs:element xmlns:q91="http://projectorpsa.com/DataContracts/Shared/Common/" name="ProjectRole" nillable="true" type="q91:PwsProjectRoleDetail" />
          <xs:element minOccurs="0" name="ResourceClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="RoleEndDateClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="RoleStartDateClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="ShareCostCenterClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="SkillCriteriaClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="StealLockFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="TitleClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="TitleCriteriaClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="RdcTransferHourlyRateClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="RevenueTransferHourlyRateClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="RateExceptionsClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="RdcExceptionsClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="ResourceTypeCriteriaClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="ApproveOrder" nillable="true" type="tns:PwsProjectRoleApproveOrder" />
          <xs:element minOccurs="0" name="FullDetailFlag" type="xs:boolean" />
          <xs:element xmlns:q92="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LocksToSteal" nillable="true" type="q92:ArrayOfPwsEntityLockSummary" />
          <xs:element minOccurs="0" name="MakeRoleNameUniqueFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="NameRoleFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="ProjectorLockSetId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="RejectOrder" nillable="true" type="tns:PwsProjectRoleRejectOrder" />
          <xs:element minOccurs="0" name="ResourceTypeClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="ShareUserClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="SubmitOrder" nillable="true" type="tns:PwsProjectRoleSubmitOrder" />
          <xs:element minOccurs="0" name="WarnOnPermissionErrorFlag" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsSaveProjectRoleRq" nillable="true" type="tns:PwsSaveProjectRoleRq" />
  <xs:complexType name="PwsProjectRoleApproveOrder">
    <xs:sequence>
      <xs:element minOccurs="0" name="FinalizeFlag" type="xs:boolean" />
      <xs:element xmlns:q93="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ManagerIdentities" nillable="true" type="q93:ArrayOfPwsUserRef" />
      <xs:element minOccurs="0" name="ProjectManagerNotes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendBookingEmailFlag" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PwsProjectRoleApproveOrder" nillable="true" type="tns:PwsProjectRoleApproveOrder" />
  <xs:complexType name="PwsProjectRoleRejectOrder">
    <xs:sequence>
      <xs:element xmlns:q94="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ManagerIdentities" nillable="true" type="q94:ArrayOfPwsUserRef" />
      <xs:element minOccurs="0" name="ProjectManagerNotes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PwsProjectRoleRejectOrder" nillable="true" type="tns:PwsProjectRoleRejectOrder" />
  <xs:complexType name="PwsProjectRoleSubmitOrder">
    <xs:sequence>
      <xs:element xmlns:q95="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="SchedulerIdentities" nillable="true" type="q95:ArrayOfPwsUserRef" />
      <xs:element minOccurs="0" name="SchedulerNotes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PwsProjectRoleSubmitOrder" nillable="true" type="tns:PwsProjectRoleSubmitOrder" />
  <xs:complexType name="PwsSaveProjectRoleRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q96="http://projectorpsa.com/CommonServices/" base="q96:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q97="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ProjectRoleIdentity" nillable="true" type="q97:PwsProjectRoleRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q98="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LockStolenFromUserIdentity" nillable="true" type="q98:PwsUserRef" />
          <xs:element xmlns:q99="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ProjectRole" nillable="true" type="q99:PwsProjectRoleElement" />
          <xs:element minOccurs="0" name="ProjectRoleTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q100="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="StolenLocks" nillable="true" type="q100:PwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsSaveProjectRoleRs" nillable="true" type="tns:PwsSaveProjectRoleRs" />
  <xs:complexType name="PwsDeleteProjectRoleRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q101="http://projectorpsa.com/DataContracts/Requests/" base="q101:PwsRequest">
        <xs:sequence>
          <xs:element xmlns:q102="http://projectorpsa.com/DataContracts/Shared/Common/" name="ProjectRoleIdentity" nillable="true" type="q102:PwsProjectRoleRef" />
          <xs:element minOccurs="0" name="StealLockFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="ZeroOutHoursFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q103="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LocksToSteal" nillable="true" type="q103:ArrayOfPwsEntityLockSummary" />
          <xs:element minOccurs="0" name="ProjectRoleTimestamp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProjectorLockSetId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsDeleteProjectRoleRq" nillable="true" type="tns:PwsDeleteProjectRoleRq" />
  <xs:complexType name="PwsDeleteProjectRoleRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q104="http://projectorpsa.com/CommonServices/" base="q104:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q105="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ProjectRoleIdentity" nillable="true" type="q105:PwsProjectRoleRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q106="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LockStolenFromUserIdentity" nillable="true" type="q106:PwsUserRef" />
          <xs:element xmlns:q107="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="StolenLocks" nillable="true" type="q107:PwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsDeleteProjectRoleRs" nillable="true" type="tns:PwsDeleteProjectRoleRs" />
  <xs:complexType name="PwsSaveProjectTaskTypeRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q108="http://projectorpsa.com/DataContracts/Requests/" base="q108:PwsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="AllowedProjectRateTypesClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q109="http://projectorpsa.com/DataContracts/Shared/Common/" name="ProjectIdentity" nillable="true" type="q109:PwsProjectRef" />
          <xs:element xmlns:q110="http://projectorpsa.com/DataContracts/Shared/Common/" name="ProjectTaskType" nillable="true" type="q110:PwsProjectTaskTypeDetail" />
          <xs:element minOccurs="0" name="StealLockFlag" type="xs:boolean" />
          <xs:element xmlns:q111="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LocksToSteal" nillable="true" type="q111:ArrayOfPwsEntityLockSummary" />
          <xs:element minOccurs="0" name="ProjectorLockSetId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="RateTaskTimestamp" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsSaveProjectTaskTypeRq" nillable="true" type="tns:PwsSaveProjectTaskTypeRq" />
  <xs:complexType name="PwsSaveProjectTaskTypeRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q112="http://projectorpsa.com/CommonServices/" base="q112:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q113="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ProjectTaskTypeIdentity" nillable="true" type="q113:PwsProjectTaskTypeRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q114="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LockStolenFromUserIdentity" nillable="true" type="q114:PwsUserRef" />
          <xs:element minOccurs="0" name="RateTaskTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q115="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="StolenLocks" nillable="true" type="q115:PwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsSaveProjectTaskTypeRs" nillable="true" type="tns:PwsSaveProjectTaskTypeRs" />
  <xs:complexType name="PwsDeleteProjectTaskTypeRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q116="http://projectorpsa.com/DataContracts/Requests/" base="q116:PwsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="InactivateIfInuseFlag" type="xs:boolean" />
          <xs:element xmlns:q117="http://projectorpsa.com/DataContracts/Shared/Common/" name="ProjectTaskTypeIdentity" nillable="true" type="q117:PwsProjectTaskTypeRef" />
          <xs:element minOccurs="0" name="StealLockFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q118="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LocksToSteal" nillable="true" type="q118:ArrayOfPwsEntityLockSummary" />
          <xs:element minOccurs="0" name="ProjectTaskTypeTimestamp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProjectorLockSetId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsDeleteProjectTaskTypeRq" nillable="true" type="tns:PwsDeleteProjectTaskTypeRq" />
  <xs:complexType name="PwsDeleteProjectTaskTypeRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q119="http://projectorpsa.com/CommonServices/" base="q119:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q120="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ProjectTaskTypeIdentity" nillable="true" type="q120:PwsProjectTaskTypeRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q121="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LockStolenFromUserIdentity" nillable="true" type="q121:PwsUserRef" />
          <xs:element minOccurs="0" name="RateTaskTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q122="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="StolenLocks" nillable="true" type="q122:PwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsDeleteProjectTaskTypeRs" nillable="true" type="tns:PwsDeleteProjectTaskTypeRs" />
  <xs:complexType name="PwsSaveProjectTaskRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q123="http://projectorpsa.com/DataContracts/Requests/" base="q123:PwsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="DescriptionClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="DriveEsdAndDurationFromPlannedDatesFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="EarliestStartDateClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ParentTaskClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="PredecessorsClearFlag" type="xs:boolean" />
          <xs:element xmlns:q124="http://projectorpsa.com/DataContracts/Shared/Common/" name="ProjectIdentity" nillable="true" type="q124:PwsProjectRef" />
          <xs:element xmlns:q125="http://projectorpsa.com/DataContracts/Shared/Common/" name="ProjectTask" nillable="true" type="q125:PwsProjectTaskDetail" />
          <xs:element minOccurs="0" name="StealLockFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="SubscriptionsClearFlag" type="xs:boolean" />
          <xs:element xmlns:q126="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LocksToSteal" nillable="true" type="q126:ArrayOfPwsEntityLockSummary" />
          <xs:element minOccurs="0" name="ProjectorLockSetId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="RateTaskTimestamp" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsSaveProjectTaskRq" nillable="true" type="tns:PwsSaveProjectTaskRq" />
  <xs:complexType name="PwsSaveProjectTaskRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q127="http://projectorpsa.com/CommonServices/" base="q127:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q128="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ProjectTaskIdentity" nillable="true" type="q128:PwsProjectTaskRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q129="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LockStolenFromUserIdenityt" nillable="true" type="q129:PwsUserRef" />
          <xs:element minOccurs="0" name="RateTaskTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q130="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="StolenLocks" nillable="true" type="q130:PwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsSaveProjectTaskRs" nillable="true" type="tns:PwsSaveProjectTaskRs" />
  <xs:complexType name="PwsDeleteProjectTaskRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q131="http://projectorpsa.com/DataContracts/Requests/" base="q131:PwsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="CascadeDeleteFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="CloseIfInuseFlag" type="xs:boolean" />
          <xs:element xmlns:q132="http://projectorpsa.com/DataContracts/Shared/Common/" name="ProjectTaskIdentity" nillable="true" type="q132:PwsProjectTaskRef" />
          <xs:element minOccurs="0" name="StealLockFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q133="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LocksToSteal" nillable="true" type="q133:ArrayOfPwsEntityLockSummary" />
          <xs:element minOccurs="0" name="ProjectorLockSetId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="RateTaskTimestamp" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsDeleteProjectTaskRq" nillable="true" type="tns:PwsDeleteProjectTaskRq" />
  <xs:complexType name="PwsDeleteProjectTaskRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q134="http://projectorpsa.com/CommonServices/" base="q134:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q135="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ProjectTaskIdentity" nillable="true" type="q135:PwsProjectTaskRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q136="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LockStolenFromUserIdentity" nillable="true" type="q136:PwsUserRef" />
          <xs:element minOccurs="0" name="RateTaskTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q137="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="StolenLocks" nillable="true" type="q137:PwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsDeleteProjectTaskRs" nillable="true" type="tns:PwsDeleteProjectTaskRs" />
  <xs:complexType name="PwsSaveProjectTaskRoleRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q138="http://projectorpsa.com/DataContracts/Requests/" base="q138:PwsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q139="http://projectorpsa.com/DataContracts/Shared/Common/" name="ProjectTaskRole" nillable="true" type="q139:PwsProjectTaskRoleDetail" />
          <xs:element minOccurs="0" name="StealLockFlag" type="xs:boolean" />
          <xs:element xmlns:q140="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LocksToSteal" nillable="true" type="q140:ArrayOfPwsEntityLockSummary" />
          <xs:element minOccurs="0" name="ProjectorLockSetId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="RateTaskTimestamp" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsSaveProjectTaskRoleRq" nillable="true" type="tns:PwsSaveProjectTaskRoleRq" />
  <xs:complexType name="PwsSaveProjectTaskRoleRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q141="http://projectorpsa.com/CommonServices/" base="q141:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q142="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ProjectTaskRoleIdentity" nillable="true" type="q142:PwsProjectTaskRoleRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q143="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LockStolenFromUserIdentity" nillable="true" type="q143:PwsUserRef" />
          <xs:element minOccurs="0" name="RateTaskTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q144="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="StolenLocks" nillable="true" type="q144:PwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsSaveProjectTaskRoleRs" nillable="true" type="tns:PwsSaveProjectTaskRoleRs" />
  <xs:complexType name="PwsDeleteProjectTaskRoleRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q145="http://projectorpsa.com/DataContracts/Requests/" base="q145:PwsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="DeallocateIfInuseFlag" type="xs:boolean" />
          <xs:element xmlns:q146="http://projectorpsa.com/DataContracts/Shared/Common/" name="ProjectTaskRoleIdentity" nillable="true" type="q146:PwsProjectTaskRoleRef" />
          <xs:element minOccurs="0" name="StealLockFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q147="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LocksToSteal" nillable="true" type="q147:ArrayOfPwsEntityLockSummary" />
          <xs:element minOccurs="0" name="ProjectorLockSetId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="RateTaskTimestamp" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsDeleteProjectTaskRoleRq" nillable="true" type="tns:PwsDeleteProjectTaskRoleRq" />
  <xs:complexType name="PwsDeleteProjectTaskRoleRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q148="http://projectorpsa.com/CommonServices/" base="q148:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q149="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ProjectTaskRoleIdentity" nillable="true" type="q149:PwsProjectTaskRoleRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q150="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LockStolenFromUserIdentity" nillable="true" type="q150:PwsUserRef" />
          <xs:element minOccurs="0" name="RateTaskTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q151="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="StolenLocks" nillable="true" type="q151:PwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsDeleteProjectTaskRoleRs" nillable="true" type="tns:PwsDeleteProjectTaskRoleRs" />
  <xs:complexType name="PwsAddProjectNoteRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q152="http://projectorpsa.com/DataContracts/Requests/" base="q152:PwsRequest">
        <xs:sequence>
          <xs:element name="Note" nillable="true" type="xs:string" />
          <xs:element xmlns:q153="http://projectorpsa.com/DataContracts/Shared/Common/" name="ProjectIdentity" nillable="true" type="q153:PwsProjectRef" />
          <xs:element xmlns:q154="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LocksToSteal" nillable="true" type="q154:ArrayOfPwsEntityLockSummary" />
          <xs:element minOccurs="0" name="ProjectTimestamp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProjectorLockSetId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsAddProjectNoteRq" nillable="true" type="tns:PwsAddProjectNoteRq" />
  <xs:complexType name="PwsAddProjectNoteRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q155="http://projectorpsa.com/CommonServices/" base="q155:PwsResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="ProjectTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q156="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="StolenLocks" nillable="true" type="q156:PwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsAddProjectNoteRs" nillable="true" type="tns:PwsAddProjectNoteRs" />
  <xs:complexType name="PwsGetBaselineBucketDateIntervalsRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q157="http://projectorpsa.com/DataContracts/Requests/" base="q157:PwsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="IntervalCount" type="xs:int" />
          <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
          <xs:element name="TimePhase" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsGetBaselineBucketDateIntervalsRq" nillable="true" type="tns:PwsGetBaselineBucketDateIntervalsRq" />
  <xs:complexType name="PwsGetBaselineBucketDateIntervalsRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q158="http://projectorpsa.com/CommonServices/" base="q158:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q159="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="BaselineBucketDateIntervals" nillable="true" type="q159:ArrayOfPwsDateInterval" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsGetBaselineBucketDateIntervalsRs" nillable="true" type="tns:PwsGetBaselineBucketDateIntervalsRs" />
  <xs:complexType name="PwsGetProjectTimeBaselineRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q160="http://projectorpsa.com/DataContracts/Requests/" base="q160:PwsRequest">
        <xs:sequence>
          <xs:element xmlns:q161="http://projectorpsa.com/DataContracts/Shared/Common/" name="ProjectTimeBaselineIdentities" nillable="true" type="q161:ArrayOfPwsProjectTimeBaselineRef" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsGetProjectTimeBaselineRq" nillable="true" type="tns:PwsGetProjectTimeBaselineRq" />
  <xs:complexType name="PwsGetProjectTimeBaselineRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q162="http://projectorpsa.com/CommonServices/" base="q162:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q163="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ProjectTimeBaselines" nillable="true" type="q163:ArrayOfPwsProjectTimeBaselineElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsGetProjectTimeBaselineRs" nillable="true" type="tns:PwsGetProjectTimeBaselineRs" />
  <xs:complexType name="PwsGetProjectCostBaselineRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q164="http://projectorpsa.com/DataContracts/Requests/" base="q164:PwsRequest">
        <xs:sequence>
          <xs:element xmlns:q165="http://projectorpsa.com/DataContracts/Shared/Common/" name="ProjectCostBaselineIdentities" nillable="true" type="q165:ArrayOfPwsProjectCostBaselineRef" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsGetProjectCostBaselineRq" nillable="true" type="tns:PwsGetProjectCostBaselineRq" />
  <xs:complexType name="PwsGetProjectCostBaselineRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q166="http://projectorpsa.com/CommonServices/" base="q166:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q167="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ProjectCostBaselines" nillable="true" type="q167:ArrayOfPwsProjectCostBaselineElement" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsGetProjectCostBaselineRs" nillable="true" type="tns:PwsGetProjectCostBaselineRs" />
  <xs:complexType name="PwsDeleteProjectTimeBaselineRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q168="http://projectorpsa.com/DataContracts/Requests/" base="q168:PwsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q169="http://projectorpsa.com/DataContracts/Shared/Common/" name="ProjectTimeBaselineIdentity" nillable="true" type="q169:PwsProjectTimeBaselineRef" />
          <xs:element minOccurs="0" name="StealEngagementLockFlag" type="xs:boolean" />
          <xs:element xmlns:q170="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LocksToSteal" nillable="true" type="q170:ArrayOfPwsEntityLockSummary" />
          <xs:element minOccurs="0" name="ProjectorLockSetId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="RateTaskTimestamp" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsDeleteProjectTimeBaselineRq" nillable="true" type="tns:PwsDeleteProjectTimeBaselineRq" />
  <xs:complexType name="PwsDeleteProjectTimeBaselineRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q171="http://projectorpsa.com/CommonServices/" base="q171:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q172="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="EngagementLockStolenFromUserIdentity" nillable="true" type="q172:PwsUserRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q173="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ProjectTimeBaselineIdentity" nillable="true" type="q173:PwsProjectTimeBaselineRef" />
          <xs:element minOccurs="0" name="RateTaskTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q174="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="StolenLocks" nillable="true" type="q174:PwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsDeleteProjectTimeBaselineRs" nillable="true" type="tns:PwsDeleteProjectTimeBaselineRs" />
  <xs:complexType name="PwsDeleteProjectCostBaselineRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q175="http://projectorpsa.com/DataContracts/Requests/" base="q175:PwsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q176="http://projectorpsa.com/DataContracts/Shared/Common/" name="ProjectCostBaselineIdentity" nillable="true" type="q176:PwsProjectCostBaselineRef" />
          <xs:element minOccurs="0" name="StealEngagementLockFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="CostBaselineTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q177="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LocksToSteal" nillable="true" type="q177:ArrayOfPwsEntityLockSummary" />
          <xs:element minOccurs="0" name="ProjectorLockSetId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsDeleteProjectCostBaselineRq" nillable="true" type="tns:PwsDeleteProjectCostBaselineRq" />
  <xs:complexType name="PwsDeleteProjectCostBaselineRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q178="http://projectorpsa.com/CommonServices/" base="q178:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q179="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="EngagementLockStolenFromUserIdentity" nillable="true" type="q179:PwsUserRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q180="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ProjectCostBaselineIdentity" nillable="true" type="q180:PwsProjectCostBaselineRef" />
          <xs:element xmlns:q181="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="StolenLocks" nillable="true" type="q181:PwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsDeleteProjectCostBaselineRs" nillable="true" type="tns:PwsDeleteProjectCostBaselineRs" />
  <xs:complexType name="PwsUpdateProjectTimeBaselineRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q182="http://projectorpsa.com/DataContracts/Requests/" base="q182:PwsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="BaselineBucketsClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="DescriptionClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExternalSystemIdentifierClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="FullDetailFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="NewExternalSystemIdentifier" nillable="true" type="xs:string" />
          <xs:element xmlns:q183="http://projectorpsa.com/DataContracts/Shared/Common/" name="ProjectTimeBaseline" nillable="true" type="q183:PwsProjectTimeBaselineDetail" />
          <xs:element minOccurs="0" name="StealEngagementLockFlag" type="xs:boolean" />
          <xs:element xmlns:q184="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LocksToSteal" nillable="true" type="q184:ArrayOfPwsEntityLockSummary" />
          <xs:element minOccurs="0" name="ProjectorLockSetId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="RateTaskTimestamp" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsUpdateProjectTimeBaselineRq" nillable="true" type="tns:PwsUpdateProjectTimeBaselineRq" />
  <xs:complexType name="PwsUpdateProjectTimeBaselineRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q185="http://projectorpsa.com/CommonServices/" base="q185:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q186="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="EngagementLockStolenFromUserIdentity" nillable="true" type="q186:PwsUserRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q187="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ProjectTimeBaseline" nillable="true" type="q187:PwsProjectTimeBaselineElement" />
          <xs:element xmlns:q188="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ProjectTimeBaselineIdentity" nillable="true" type="q188:PwsProjectTimeBaselineRef" />
          <xs:element minOccurs="0" name="RateTaskTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q189="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="StolenLocks" nillable="true" type="q189:PwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsUpdateProjectTimeBaselineRs" nillable="true" type="tns:PwsUpdateProjectTimeBaselineRs" />
  <xs:complexType name="PwsUpdateProjectCostBaselineRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q190="http://projectorpsa.com/DataContracts/Requests/" base="q190:PwsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="BaselineBucketsClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="DescriptionClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExternalSystemIdentifierClearFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="FullDetailFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="NewExternalSystemIdentifier" nillable="true" type="xs:string" />
          <xs:element xmlns:q191="http://projectorpsa.com/DataContracts/Shared/Common/" name="ProjectCostBaseline" nillable="true" type="q191:PwsProjectCostBaselineDetail" />
          <xs:element minOccurs="0" name="StealEngagementLockFlag" type="xs:boolean" />
          <xs:element xmlns:q192="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LocksToSteal" nillable="true" type="q192:ArrayOfPwsEntityLockSummary" />
          <xs:element minOccurs="0" name="ProjectorLockSetId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsUpdateProjectCostBaselineRq" nillable="true" type="tns:PwsUpdateProjectCostBaselineRq" />
  <xs:complexType name="PwsUpdateProjectCostBaselineRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q193="http://projectorpsa.com/CommonServices/" base="q193:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q194="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="EngagementLockStolenFromUserIdentity" nillable="true" type="q194:PwsUserRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q195="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ProjectCostBaseline" nillable="true" type="q195:PwsProjectCostBaselineElement" />
          <xs:element xmlns:q196="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ProjectCostBaselineIdentity" nillable="true" type="q196:PwsProjectCostBaselineRef" />
          <xs:element minOccurs="0" name="CostBaselineTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q197="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="StolenLocks" nillable="true" type="q197:PwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsUpdateProjectCostBaselineRs" nillable="true" type="tns:PwsUpdateProjectCostBaselineRs" />
  <xs:complexType name="PwsCreateProjectTimeBaselineRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q198="http://projectorpsa.com/DataContracts/Requests/" base="q198:PwsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActualsCutoffDate" nillable="true" type="xs:dateTime" />
          <xs:element name="Basis" nillable="true" type="xs:string" />
          <xs:element name="Dimension" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullDetailFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="IntervalCount" type="xs:int" />
          <xs:element xmlns:q199="http://projectorpsa.com/DataContracts/Shared/Common/" name="ProjectIdentity" nillable="true" type="q199:PwsProjectRef" />
          <xs:element xmlns:q200="http://projectorpsa.com/DataContracts/Shared/Common/" name="ProjectTimeBaseline" nillable="true" type="q200:PwsProjectTimeBaselineDetail" />
          <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StealEngagementLockFlag" type="xs:boolean" />
          <xs:element name="TimePhase" nillable="true" type="xs:string" />
          <xs:element xmlns:q201="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LocksToSteal" nillable="true" type="q201:ArrayOfPwsEntityLockSummary" />
          <xs:element minOccurs="0" name="ProjectorLockSetId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="RateTaskTimestamp" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsCreateProjectTimeBaselineRq" nillable="true" type="tns:PwsCreateProjectTimeBaselineRq" />
  <xs:complexType name="PwsCreateProjectTimeBaselineRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q202="http://projectorpsa.com/CommonServices/" base="q202:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q203="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="EngagementLockStolenFromUserIdentity" nillable="true" type="q203:PwsUserRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q204="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ProjectTimeBaseline" nillable="true" type="q204:PwsProjectTimeBaselineElement" />
          <xs:element xmlns:q205="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ProjectTimeBaselineIdentity" nillable="true" type="q205:PwsProjectTimeBaselineRef" />
          <xs:element minOccurs="0" name="RateTaskTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q206="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="StolenLocks" nillable="true" type="q206:PwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsCreateProjectTimeBaselineRs" nillable="true" type="tns:PwsCreateProjectTimeBaselineRs" />
  <xs:complexType name="PwsCreateProjectCostBaselineRq">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q207="http://projectorpsa.com/DataContracts/Requests/" base="q207:PwsRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="ActualsCutoffDate" nillable="true" type="xs:dateTime" />
          <xs:element name="Basis" nillable="true" type="xs:string" />
          <xs:element name="Dimension" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FullDetailFlag" type="xs:boolean" />
          <xs:element minOccurs="0" name="IntervalCount" type="xs:int" />
          <xs:element xmlns:q208="http://projectorpsa.com/DataContracts/Shared/Common/" name="ProjectCostBaseline" nillable="true" type="q208:PwsProjectCostBaselineDetail" />
          <xs:element xmlns:q209="http://projectorpsa.com/DataContracts/Shared/Common/" name="ProjectIdentity" nillable="true" type="q209:PwsProjectRef" />
          <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="StealEngagementLockFlag" type="xs:boolean" />
          <xs:element name="TimePhase" nillable="true" type="xs:string" />
          <xs:element xmlns:q210="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="LocksToSteal" nillable="true" type="q210:ArrayOfPwsEntityLockSummary" />
          <xs:element minOccurs="0" name="ProjectTimestamp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProjectorLockSetId" nillable="true" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsCreateProjectCostBaselineRq" nillable="true" type="tns:PwsCreateProjectCostBaselineRq" />
  <xs:complexType name="PwsCreateProjectCostBaselineRs">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q211="http://projectorpsa.com/CommonServices/" base="q211:PwsResponse">
        <xs:sequence>
          <xs:element xmlns:q212="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="EngagementLockStolenFromUserIdentity" nillable="true" type="q212:PwsUserRef" />
          <xs:element minOccurs="0" name="EngagementTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q213="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ProjectCostBaseline" nillable="true" type="q213:PwsProjectCostBaselineElement" />
          <xs:element xmlns:q214="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="ProjectCostBaselineIdentity" nillable="true" type="q214:PwsProjectCostBaselineRef" />
          <xs:element minOccurs="0" name="ProjectTimestamp" nillable="true" type="xs:string" />
          <xs:element xmlns:q215="http://projectorpsa.com/DataContracts/Shared/Common/" minOccurs="0" name="StolenLocks" nillable="true" type="q215:PwsEntityLockSummary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PwsCreateProjectCostBaselineRs" nillable="true" type="tns:PwsCreateProjectCostBaselineRs" />
</xs:schema>